@import url('https://fonts.googleapis.com/css?family=Archivo:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap'); 
* { 
    box-sizing: border-box;
} 

#root { 
    all: inherit;
} 

body { 
    margin:  0;
    min-height: 100vh;
} 

.container__DEEe6 { 
    display: flex; 
    overflow: auto; 
    height: 100vh; 
    flex-direction: column; 
    background-color: #fff;
} 

*,:before,:after { 
    box-sizing: border-box;
} 

img { 
    display: block; 
    max-width: 100%;
} 

.logo__C7pFL { 
    width: 314px; 
    height: 64px; 
    margin: 144px auto 80px;
} 

@media (max-height: 850px){ 
  .logo__C7pFL { 
    margin: 40px auto;
  } 
}     

.content__S9ksF { 
    display: flex; 
    width: 552px; 
    flex-direction: column; 
    align-self: center; 
    margin: 0 auto;
} 

.form__thcF0 { 
    display: flex; 
    flex-direction: column; 
    padding: 16px 16px 12px; 
    border-radius: 8px; 
    background-color: #fff; 
    box-shadow: 1px 1px 0 #dcdcdc,inset 0 0 0 1px #dcdcdc;
} 

.linkNav__iS8MP { 
    margin-top: 100px;
} 

@media (max-height: 850px){ 
  .linkNav__iS8MP { 
    margin-top: 50px;
  } 
}     

.copyright__vlTJz { 
    margin-top: 20px; 
    color: #00000099; 
    font-family: "Archivo","Helvetica","Arial","Optima",sans-serif; 
    font-size: 12px; 
    line-height: 160%; 
    text-align: center;
} 

h1 { 
    margin:  0;
    font-weight: normal;
} 

.title__nYlcy { 
    color: #212121; 
    font-family: "Archivo","Helvetica","Arial","Optima",sans-serif; 
    font-size: 24px; 
    letter-spacing: -0.03em; 
    line-height: 110%;
} 

.formInputs__aXweR { 
    display: flex; 
    flex-direction: column; 
    margin-top: 35px;
} 

button { 
    font: inherit;
} 

.button__KSLVr { 
    border-radius: 8px; 
    font-family: "Archivo","Helvetica","Arial","Optima",sans-serif; 
    outline: none;
} 

.standard__aG_m1 { 
    font-size: 14px;
} 

.primary__cL7Yp { 
    padding: 8px 16px; 
    border: 2px solid #13313e; 
    background-color: #22566d; 
    box-shadow: 2px 2px 0 #13313e; 
    color: #fff; 
    font-weight: 500; 
    letter-spacing: .4px; 
    line-height: 24px;
} 

.button__KSLVr:enabled { 
    cursor: pointer;
} 

.primary__cL7Yp:hover:not(.loading___LS45) { 
    background-color: #205065; 
    box-shadow: none;
} 

.forgotPassword__lF2_6 { 
    margin-top: 28px; 
    color: #22566d; 
    font-family: "Archivo","Helvetica","Arial","Optima",sans-serif; 
    font-size: 13px; 
    letter-spacing: .46px; 
    line-height: 22px; 
    text-align: center;
} 

ul { 
    padding: 0; 
    margin: 0; 
    list-style: none;
} 

.linkList__bhBi8 { 
    display: flex; 
    justify-content: space-evenly;
} 

.formElements__cZJOZ { 
    margin-bottom: 24px;
} 

.container__UAoGl { 
    position: relative; 
    display: flex; 
    align-items: center; 
    justify-content: center;
} 

.forgotPasswordLink__Rn6JS { 
    color: #22566d; 
    text-decoration: none;
} 

.forgotPasswordLink__Rn6JS:hover { 
    text-decoration: underline;
} 

.formElement__zb70D:not(:last-child) { 
    margin-bottom: 24px;
} 

.link__Mqm_L { 
    color: #212121; 
    font-family: "Archivo","Helvetica","Arial","Optima",sans-serif; 
    font-size: 16px; 
    letter-spacing: .15px; 
    line-height: 150%; 
    outline: none;
} 

.link__Mqm_L:hover { 
    text-decoration: none;
} 

.container__KW_PC { 
    position: relative;
} 

.label__ny_ml { 
    color: #00000099; 
    font-family: "Archivo","Helvetica","Arial","Optima",sans-serif; 
    font-size: 12px; 
    line-height: 12px;
} 

input { 
    font: inherit;
} 

.input__C_BC5 { 
    width: 100%; 
    padding: 15px 12px; 
    border: 1px solid rgba(0,0,0,.23); 
    border-radius: 4px; 
    margin-top: 12px; 
    color: #212121; 
    font-family: "Archivo","Helvetica","Arial","Optima",sans-serif; 
    font-size: 16px; 
    letter-spacing: .15px; 
    line-height: 24px; 
    outline: none;
} 

.errorMessage___z13n { 
    display: inline-block; 
    margin-top: 3px; 
    color: #ee763d; 
    font-family: "Archivo","Helvetica","Arial","Optima",sans-serif; 
    font-size: 12px; 
    letter-spacing: .4px; 
    line-height: 166%; 
    text-indent: 14px;
} 

.passwordInput__e6mt3 { 
    padding-right: 52px;
} 


/* These were inline style tags. Uses id+class to override almost everything */
#email-512193-input.style-XsBWH {  
   background-image: url("data:image/png;  
   base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAAAXNSR0IArs4c6QAAAVtJREFUSEtjZKATYKSTPQyjFpEd0qNBNxp08BAYTQwEE8Pv7TIOTAwMDv8YGA6AFLN6PgHTVAu6v9tlGhgYGOoZ/jN8YGBkEAC7CMFupNgisA8YGfoZ/jMKMDD8V8DlZYot+rtd9j7Mgo0H+Rm2HuHFsKsu9SVlQQcPLqjRRy5wM5y5zgUJtf8MDCA+J/s/hsmlTym26D+uoNp+jJdhzgZhhoa0Fwy6Kj/ItwgcN/8Z1sMjHsnGr9+ZGOLq5RhMtL4xVCa8AsuQHUfQZLwfm4+2H+NjmLNBiKEs7hWDuc43yixCjx9kCxtmSTDceczGML/+MQMrCyR0KfMRlqADJYLYOjkGU+1vDPkRb6hT1v3dLoORGF69Y2HI7JBhiHD7wBDq8oFqFjUwMDDGI2dUUPJuny/GUBj1msHG4Ct1LAKZ8neHzHmG/wwGhApBsuMIZjAk9THOx1/8MD4AALrkcLhCAcGyAAAAAElFTkSuQmCC"), url("chrome-extension://mobhfbcgjoleoljhpkkdhopdiemlocka/public/assets/rpass_48.png") !important;  
    background-repeat: no-repeat !important;  
    background-attachment: scroll !important;  
    background-position: 98% 50% !important;  
    background-size: 26px !important;  
    background-color: rgb(218, 250, 255) !important;  
    cursor: auto !important;  
}  
#password-755343-input.style-rNesn {  
   background-image: url("data:image/png;  
   base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAAAXNSR0IArs4c6QAAAVtJREFUSEtjZKATYKSTPQyjFpEd0qNBNxp08BAYTQwEE8Pv7TIOTAwMDv8YGA6AFLN6PgHTVAu6v9tlGhgYGOoZ/jN8YGBkEAC7CMFupNgisA8YGfoZ/jMKMDD8V8DlZYot+rtd9j7Mgo0H+Rm2HuHFsKsu9SVlQQcPLqjRRy5wM5y5zgUJtf8MDCA+J/s/hsmlTym26D+uoNp+jJdhzgZhhoa0Fwy6Kj/ItwgcN/8Z1sMjHsnGr9+ZGOLq5RhMtL4xVCa8AsuQHUfQZLwfm4+2H+NjmLNBiKEs7hWDuc43yixCjx9kCxtmSTDceczGML/+MQMrCyR0KfMRlqADJYLYOjkGU+1vDPkRb6hT1v3dLoORGF69Y2HI7JBhiHD7wBDq8oFqFjUwMDDGI2dUUPJuny/GUBj1msHG4Ct1LAKZ8neHzHmG/wwGhApBsuMIZjAk9THOx1/8MD4AALrkcLhCAcGyAAAAAElFTkSuQmCC"), url("chrome-extension://mobhfbcgjoleoljhpkkdhopdiemlocka/public/assets/rpass_48.png") !important;  
    background-repeat: no-repeat !important;  
    background-attachment: scroll !important;  
    background-position: 98% 50% !important;  
    background-size: 26px !important;  
    background-color: rgb(218, 250, 255) !important;  
    cursor: auto !important;  
}  
